footer {
  /* background: #b82949; */
  background: #e9b84c;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  z-index: 10;
}

footer > * {
  padding: 0;
  margin: 0;
}

footer h1 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

footer p {
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 425px) {
  footer h1 {
    font-size: 1.7rem;
    padding-bottom: 1.7rem;
  }

  footer h1 label {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 350px) {
  footer h1 {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
